a {
  text-decoration: none;
  color: white;
}

a:hover, a:active{
  color: lightgray;
}

.navigation-items{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

mat-toolbar{
  border-radius: 3px;
  background-color: #172b4d;
  /* background-image: linear-gradient( #fa8072,  #ffffff); */
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 24px 0 rgba(0, 0, 0, 0.19);
}

@media(max-width: 959px){
  mat-toolbar{
      border-radius: 0px;
  }
}

