
<div style=" overflow: auto;">
    <mat-card>
      <mat-card class="example-card">
        <mat-card-content>
          <mat-card-header class="mat-elevation-z8">
            <!-- <div mat-card-avatar class="example-header-image"></div> -->
            <mat-card-title>แก้ไข-ลบ ข้อมูลพัสดุและครุภัณฑ์คงทนถาวร</mat-card-title>
            <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
          </mat-card-header>

          <div class="mat-elevation-z8 " style="border-radius: 0 0 20px 20px;">
            <app-good-list></app-good-list>
          </div>

        </mat-card-content>

      </mat-card>
    </mat-card>

  </div>


        <!-- <ng-container matColumnDef="Option" class="center">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Option </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>edit</mat-icon>
                  </button>
                  <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container> -->
